/* 
**********************
        RESET
**********************
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 100%;
}

/* 
**********************
        DEBUG
**********************
*/

.bordered{
    border: 1px dashed black;
    min-height: 50px;
}

/* 
**********************
        LAYOUT
**********************
*/

.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 0 1rem;

}

.row{
    margin-right: -1rem;
    margin-left: -1rem;
}

.col{
    padding: 1rem;
}

/* 
**********************
        SECTION
**********************
*/

section{
    padding: 50px 0;
}

section:nth-child(even){
    background-color: #9792E4;
}

/* 
**********************
        HEADER
**********************
*/

#header{
    background-color: #0084FD;
    height: 80px;
    line-height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

#header > .container{
    display: flex;
    justify-content: space-between;
}

#header .logo{
    display: flex;
}

#header .logo img{
    align-self: center;
}

#header .icon{
    font-size: 2rem;
}

 #header .nav-list{
    display: flex;
    list-style-type: none;
    display: none;
}

#header .nav-item{
    padding-left: 25px;  
}

#header a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

#header .anchor{
    background-color: white;
    color: black;
    border-radius: 50px;
    padding: 10px;
}

#header + *{
    padding-top: 80px;
}

/* 
**********************
        INTRO
**********************
*/


#intro .card{
    background-color: #B5DDFF;
    border-radius: 2rem;
    color: white;
    padding: 1rem 1rem 0 1rem;
    height: 100%;
    text-align: center;
}

#intro h3{
    color: #0084FD;
}

#intro p{
    color: black;
}

#intro .card-section >*{
    line-height: 20px;
    margin-top: 15px;
}

#intro button{
    border-radius: 50px;
    font-size: 1.1rem;
    padding: 5px 35px;
    background-color: #0084FD;
    border: 1px solid transparent;
    color: white;
}

 .card-section .phone{
    max-width: 60%;
    display: block;
}

.img-phone{
    display: flex;
    justify-content: center;
}

.box-content{
    line-height: 25px;
}

.box-content > i{
    color: #0084FD;
    font-size: 4rem;
}

.box-content > h3{
    margin: 15px 0;
}

.card .box-content:last-child{
    padding: 0px 50px 30px 50px;
    color: black;
}

/* 
**********************
       STRATEGIC
**********************
*/

#strategic .col{
   margin-bottom: 2rem;
   text-align: left;
   position: relative;
}

#strategic img{
    text-align: center;
}

#strategic h2{
    color: white;
    font-size: 2rem;
    margin-bottom: 15px;
}

#strategic p{
    color: white;
    font-size: 1.1rem;
    line-height: 28px;
}

#strategic .img-bg{
    background-color: white;
    border-radius: 2rem;
    text-align: center;
    padding-bottom: 30px;
}

#strategic .img-bg p{
    color: black;
    padding: 0 30px 30px 30px;
}

#strategic .img-bg h2{
    color: black;
}

#strategic .arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 50px;
    color: black;
    background-color: #9792E4;
    border-radius: 50px;
    aspect-ratio: 1;
}

/* 
**********************
      TESTIMONIALS
**********************
*/

#testimonial .col{
    line-height: 30px;
    text-align: center;
}

#testimonial .card{
    margin: 25px 0;
    background-color: #9792E4;
    border-radius: 2rem;
    padding-top: 15px;
}

#testimonial .immagine{
    width:200px;
    overflow: hidden;
    border-radius: 50%;
    aspect-ratio: 1;
    margin:0  auto;
}

#testimonial img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#testimonial i{
    color: white;
}

#testimonial p{
    color: black;
    padding:30px 25px 20px 25px;
    font-weight: bold;
}

#testimonial h2{
    color: #9792E4;
    font-size: 2rem;
    margin-top: 20px;
}

#testimonial  .info p{
    color: white;
    padding:30px 25px 20px 25px;
}

#testimonial h3{
    padding-bottom: 20px;
    color: white;
}

/* 
**********************
      BENEFITS
**********************
*/

#benefits  .title {
    text-align: center;
    line-height: 50px;
}

#benefits .card{
    background-color: red;
    color: white;
    padding: 1rem;
    height: 100%;
    line-height: 30px;
}

/* 
**********************
      ABOUT US
**********************
*/

 #about-us .col > *{
    margin-bottom: 20px;
}

/* 
**********************
      STARTED
**********************
*/

#started > .container{
    text-align: center;
}

#started .container > *{
    margin: 10px 0;
}

/* 
**********************
      FOOTER
**********************
*/

#footer{
    background-color: #333333;
}

#footer .container {
    color: white;
    text-align: center;
}

#footer .container p{
    padding: 30px 0;
}

/* 
**********************
      RESPONSIVE
**********************
*/

/* ? Tablet */

@media  screen and (min-width:576px) {
    /* INTRO */
    #intro .row{
        display: flex;
        flex-wrap: wrap;
    }
    
    #intro .col{
        width: calc(100% / 3);
    }

    #intro .col:first-child {
        width: calc(100% / 3 * 2);
    }

    .box-content i{
        margin-top: 20px;
    }

    .card .box-content:last-child{
        padding: 0;
        margin-bottom: 25px;
    }

    #intro button {
        font-size: 1rem;
    }

    .card-section .phone {
        max-width: 250px;
    }

    .card-section h3 {
        font-size: 1.5rem;
    }
    /* STRATEGIC */
    #strategic h2{
        font-size: 3.5rem;
        margin-top: 65px;
    }

    /* TESTIMONIAL */
    #testimonial .card{
        display: flex;
        align-items: center;
        padding-left: 20px;
    } 
    
    #testimonial .info{
        flex-grow: 1;
        text-align: left;
    }

    #testimonial .immagine{
        width:100%;
    }

    #testimonial h3{
        padding-left: 25px;
    }

    /* BENEFITS */

    #benefits .col{
        width: calc(100% / 2);
    }

    #benefits .row{
        display: flex;
        flex-wrap: wrap;
    }
    
    /* ABOUT US */
    #about-us .row{
        display: flex;
    }

    #about-us .col:first-child{
        width: 60%;
    }

    #about-us .col:last-child{
        width: 40%;
    }

    /* STARTED */
    #started .container p{
        padding-left: 30px;
        padding-right: 30px;
    }

    /* FOOTER */
    grandezza testo

}


/* ? Desktop */

@media  screen and (min-width:992px){
    body{
        overflow-x: hidden;
    }
    /* HEADER */
    #header .icon{
        display: none;
    }

    #header .nav-list{
        display: flex;
    }

    /* INTRO */
    .container{
        max-width: 1000px;
    }

    body{
        overflow-x: hidden;
    }

    #intro .col:first-child .card{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    /* STRATEGIC */
        #strategic .row{
        display: flex;
    }

    #strategic .col{
        width: 50%;
        padding: 0 1rem;
    }

    #strategic h2{
        font-size: 2rem;
    }

    #strategic .col:first-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #strategic .col:first-child img {
        margin-bottom: 80px;
    }

    #strategic .col:last-child{
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    #strategic .img-bg{
        width: 350px;
    }

    /* TESTIMONIAL */
    #testimonial .immagine{
        width:45%;
    }

    #testimonial .card{
        margin: 15px;
        padding-bottom:15px;
    } 

    /* BENEFITS */
    #benefits .col{
        width: calc(100% / 3);
    }

    /* ABOUTUS */
    #about-us .col:first-child{
        width: calc(100% / 3 * 2);
    }

    #about-us .col:last-child{
        width: calc(100% / 3)
    }

    /* STARTED */
    #started .container p{
        padding-left: 150px;
        padding-right: 150px;
    }

    /* FOOTER */
    grandezza testo
}