/* 
**********************
        RESET
**********************
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

/* 
**********************
        DEBUG
**********************
*/

.bordered{
    border: 1px dashed black;
    min-height: 50px;
}

.card-section{
    line-height: 80px;
}

.box-content{
    line-height: 80px;
}

/* 
**********************
        LAYOUT
**********************
*/

.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 0 1rem;

}

.row{
    margin-right: -1rem;
    margin-left: -1rem;
}

.col{
    padding: 1rem;
}

/* 
**********************
        SECTION
**********************
*/

section{
    padding: 50px 0;
}

section:nth-child(even){
    background-color: #9792E4;
}

/* 
**********************
        HEADER
**********************
*/

#header{
    background-color: #0084FD;
    height: 80px;
    line-height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

#header > .container{
    display: flex;
    justify-content: space-between;
}

.nav-list{
    display: flex;
}

/* 
**********************
        INTRO
**********************
*/

#intro{
    padding-top: 80px;
}

#intro .card{
    background-color: red;
    color: white;
    padding: 1rem;
    height: 100%;
    text-align: center;
}

/* 
**********************
       STRATEGIC
**********************
*/

#strategic .col{
   margin-bottom: 2rem;
}

/* 
**********************
      TESTIMONIALS
**********************
*/

#testimonial .col{
    line-height: 35px;
    text-align: center;
}

#testimonial .card{
    margin: 25px 0;
}

/* 
**********************
      BENEFITS
**********************
*/

#benefits  .title {
    text-align: center;
    line-height: 50px;
}

#benefits .card{
    background-color: red;
    color: white;
    padding: 1rem;
    height: 100%;
    line-height: 30px;
}

/* 
**********************
      RESPONSIVE
**********************
*/

/* ? Tablet */

@media  screen and (min-width:576px) {
    /* INTRO */
    #intro .row{
        display: flex;
        flex-wrap: wrap;
    }
    
    #intro .col{
        width: calc(100% / 3);
    }

    #intro .col:first-child {
        width: calc(100% / 3 * 2);
    }

    #intro .col:first-child .card{
        display: flex;
        flex-direction: column;
    }

    #intro .card > .card-section{
        width: 50%;
    }

    /* STRATEGIC */

    /* TESTIMONIAL */
    #testimonial .card{
        display: flex;
    }  
    
    #testimonial .immagine{
        margin: 20px;
    }

    #testimonial .info{
        flex-direction: column;
        text-align: left;
    }

    /* BENEFITS */

    #benefits .col{
        width: calc(100% / 2);
    }

    #benefits .row{
        display: flex;
        flex-wrap: wrap;
    }
    
}

/* ? Desktop */

@media  screen and (min-width:992px){
    /* INTRO */
    .container{
        max-width: 1000px;
    }

    body{
        overflow-x: hidden;
    }

    #intro .col:first-child .card{
        flex-direction: row;
    }

    /* STRATEGIC */
    #strategic .row{
        display: flex;
    }

    #strategic .col{
        width: 50%;
        padding: 0 1rem;
    }

    /* BENEFITS */
    #benefits .col{
        width: calc(100% / 3);
    }

    #benefits .row{
        display: flex;
        flex-wrap: wrap;
    }
}